@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    text-align: center;
    margin: 30px;
}

.container h1 {
    padding-bottom: 10px;
    font-family: 'Staatliches', cursive;
    color: #F2B84B;
}

#tarefa {
    width: 300px;
    font-size: 16px;
    margin-bottom: 25px;
}

#btn {
    cursor: pointer;
    border-radius: 30px;
    width: 70px;
    padding: 2px;
    font-size: 14px;
    border-style: none;
    background-color:#F2B84B;
    font-family: 'Staatliches', cursive;
}

#lista{
    list-style: none;
}

#lista li{
    border: solid 2px white;
    background-color: #F2B84B;
    padding: 5px;
    width: 500px;
    margin: auto;
    text-align: left;
}

.task-image{
    width: 30px;
    
}

.imagem img{
    width: 300px;
    position: fixed;
    right: 5px;
    bottom: 0
}


